.sheet{
    background-color: beige;
    margin: 10vh auto;
    padding:30px auto;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.result{
    line-height: 10px;
}